
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div align="center">
    <h2>Users</h2>
    <h3>Search by any field</h3>
    <form method="get" action=admin/search>
        <input type="text" th:name="keyWord" th:value="${keyWord}" />
        <input type="submit" value="Search" />
    </form>
    <h3><a href="/new">New User</a></h3>
    <table border="1" cellpadding="5">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>LastName</th>
            <th>E-mail</th>
            <th>Password</th>
            <th>Age</th>
        </tr>

        <tr th:if="${users.isEmpty()}">
            <td colspan="4"> No Users Available </td>
        </tr>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.id}"> Id </span></td>
            <td><span th:text="${user.getUserName()}"> Name </span></td>
            <td><span th:text="${user.getLastName()}"> LastName </span></td>
            <td><span th:text="${user.getEmail()}"> Email </span></td>
            <td><span th:text="${user.getPassword()}"> Password </span></td>
            <td><span th:text="${user.getAge()}"> Age </span></td>
            <td>
                <form th:action="@{admin/{id}/edituser(id=${user.getId()})}"  th:method="GET">
                    <input type="hidden" name="id" th:value="${user.getId()}" />
                    <input type="submit" value="Edit" class="btn btn-danger" />
                </form>
                <form th:action="@{admin/{id}/delete(id=${user.getId()})}" th:method="DELETE">
                    <input type="hidden" name="id" th:value="${user.id}" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </td>
        </tr>
    </table>
    <h3><a href="/logout">logout</a></h3>
</div>
</body>
</html>