<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<div align="center">
    <table border="1" cellpadding="5">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
        </tr>
        <tr th:each="book : ${books}">
            <td><span th:text="${book.id}"> Id </span></td>
            <td><span th:text="${book.getTitle()}"> Title </span></td>
            <td><span th:text="${book.getAuthor()}"> Author </span></td>
        </tr>
    </table>
</div>
</body>
</html>