<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
<div align="center">
  <h2>Found the following users:</h2>
  <h3><a href="/">Return</a></h3>
  <table border="1" cellpadding="5">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>LastName</th>
      <th>E-mail</th>
    </tr>
    <tr th:if="${users.isEmpty()}">
      <td colspan="4"> There are no such users </td>
    </tr>
    <tr th:each="user : ${users}">
      <td><span th:text="${user.id}"> Id </span></td>
      <td><span th:text="${user.name}"> Name </span></td>
      <td><span th:text="${user.lastname}"> LastName </span></td>
      <td><span th:text="${user.email}"> Email </span></td>
    </tr>
  </table>
</div>
</body>
</html>